<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>问卷</title>
	</head>
	<body>
		<form action="/subAns" method="post">
		这是第一个选择题：</br>
		<input type="radio" name="q1" value="a">A.这是选项A</br>
		<input type="radio" name="q1" value="b">B.这是选项B</br>
		<input type="radio" name="q1" value="c">C.这是选项C</br>
		<input type="radio" name="q1" value="d">D.这是选项D</br>
		这是第一个判断题：</br>
		<input type="radio" name="q2" value="true">对</br>
		<input type="radio" name="q2" value="false">错</br>
		问答题：</br>
		<textarea name="w1"></textarea><br />
		<input type="submit" value="提交"/>
		</form>
		
	</body>
</html>
